$def with ()
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>example</title>
	<script type="application/javascript" src="static/js/example.js"></script>
	<script type="application/javascript" src="static/js/createtable.js"></script>
		<script type="application/javascript" src="static/js/edittable.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/example.css">
		<!-- WEBIX -->
	<link rel="stylesheet" type="text/css" href="static/webix/webix.css">
	<script src="static/webix/webix.js"></script>
	
</head>
<body>
	<script type="text/javascript" charset="utf-8">
	/* place for webix.ui */
	
	webix.ready(function(){
		webix.ui({
    type:"line",
    rows: [
    { view:"toolbar", id:"mybar", elements:[
            { view:"button", value:"Add", id:"mybutton", width: 70},
            { view:"button", value:"Delete", width: 70 },
            { view:"button", value:"Update", width: 70 },
            { view:"button", value:"Clear Form", width: 85 }]
    },
    { cols:[
        { template: "Column 1"}, 
        { template: "Column 2"} ]
    }
    ]
});
	});
	</script>
</body>
</html>
